workflows/definitions/test-payoff-request.json
{
  "name": "Test Payoff Request",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "test-payoff-request",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Test Payoff Request Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "test-payoff-request-webhook"
    },
    {
      "parameters": {
        "url": "={{ $env.REXERA_API_URL }}/api/rest/workflows/{{ $json.workflow_id }}/initialize-tasks",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.REXERA_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "tasks",
              "value": "[{\"title\": \"Research Lender Contact\", \"agent\": \"nina\", \"node_id\": \"nina-research\"}, {\"title\": \"Submit Payoff Request\", \"agent\": \"dynamic\", \"node_id\": \"communication-switch\"}, {\"title\": \"Process Lender Response\", \"agent\": \"iris\", \"node_id\": \"iris-extract\"}, {\"title\": \"Generate Invoice\", \"agent\": \"kosha\", \"node_id\": \"kosha-invoice\"}, {\"title\": \"Update CRM Records\", \"agent\": \"ria\", \"node_id\": \"ria-update\"}, {\"title\": \"Notify Client\", \"agent\": \"mia\", \"node_id\": \"mia-notify\"}]"
            }
          ]
        },
        "options": {
          "timeout": 10000
        }
      },
      "id": "initialize-tasks",
      "name": "Create All Tasks",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "url": "={{ $env.REXERA_API_URL }}/api/rest/tasks/by-node/nina-research/start",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.REXERA_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "workflow_id",
              "value": "={{ $json.workflow_id }}"
            }
          ]
        }
      },
      "id": "start-nina-task",
      "name": "Start Task: Nina Research",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [680, 300]
    },
    {
      "parameters": {
        "ms": 2000
      },
      "id": "nina-dummy-work",
      "name": "Nina: Dummy Research Work",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [900, 300]
    },
    {
      "parameters": {
        "url": "={{ $env.REXERA_API_URL }}/api/rest/tasks/by-node/nina-research/complete",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.REXERA_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "workflow_id",
              "value": "={{ $('Test Payoff Request Trigger').item.json.workflow_id }}"
            },
            {
              "name": "result",
              "value": "{\"lender_name\": \"Test Bank\", \"contact_method\": \"email\", \"contact_info\": \"payoffs@testbank.com\", \"communication_preference\": \"email\", \"status\": \"completed\"}"
            }
          ]
        }
      },
      "id": "complete-nina-task",
      "name": "Complete Task: Nina Research",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "url": "={{ $env.REXERA_API_URL }}/api/rest/tasks/by-node/communication-switch/start",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.REXERA_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "workflow_id",
              "value": "={{ $('Test Payoff Request Trigger').item.json.workflow_id }}"
            }
          ]
        }
      },
      "id": "start-communication-task",
      "name": "Start Task: Communication Switch",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1340, 300]
    },
    {
      "parameters": {
        "ms": 3000
      },
      "id": "communication-dummy-work",
      "name": "Dummy: Email Communication",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [1560, 300]
    },
    {
      "parameters": {
        "url": "={{ $env.REXERA_API_URL }}/api/rest/tasks/by-node/communication-switch/complete",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.REXERA_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "workflow_id",
              "value": "={{ $('Test Payoff Request Trigger').item.json.workflow_id }}"
            },
            {
              "name": "result",
              "value": "{\"method\": \"email\", \"recipient\": \"payoffs@testbank.com\", \"sent_at\": \"2025-01-07T20:00:00Z\", \"status\": \"sent\"}"
            }
          ]
        }
      },
      "id": "complete-communication-task",
      "name": "Complete Task: Communication Switch",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1780, 300]
    },
    {
      "parameters": {
        "ms": 1000
      },
      "id": "wait-before-iris",
      "name": "Wait for Response Simulation",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [2000, 300]
    },
    {
      "parameters": {
        "url": "={{ $env.REXERA_API_URL }}/api/rest/tasks/by-node/iris-extract/start",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.REXERA_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "workflow_id",
              "value": "={{ $('Test Payoff Request Trigger').item.json.workflow_id }}"
            }
          ]
        }
      },
      "id": "start-iris-task",
      "name": "Start Task: Iris Extract",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [2220, 300]
    },
    {
      "parameters": {
        "ms": 2500
      },
      "id": "iris-dummy-work",
      "name": "Iris: Dummy Data Extraction",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [2440, 300]
    },
    {
      "parameters": {
        "url": "={{ $env.REXERA_API_URL }}/api/rest/tasks/by-node/iris-extract/complete",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.REXERA_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "workflow_id",
              "value": "={{ $('Test Payoff Request Trigger').item.json.workflow_id }}"
            },
            {
              "name": "result",
              "value": "{\"payoff_amount\": 245000.00, \"per_diem\": 95.50, \"good_through_date\": \"2025-01-20\", \"wire_instructions\": {\"bank\": \"Test Bank\", \"routing\": \"123456789\", \"account\": \"987654321\"}, \"status\": \"extracted\"}"
            }
          ]
        }
      },
      "id": "complete-iris-task",
      "name": "Complete Task: Iris Extract",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [2660, 300]
    },
    {
      "parameters": {
        "url": "={{ $env.REXERA_API_URL }}/api/rest/tasks/by-node/kosha-invoice/start",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.REXERA_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "workflow_id",
              "value": "={{ $('Test Payoff Request Trigger').item.json.workflow_id }}"
            }
          ]
        }
      },
      "id": "start-kosha-task",
      "name": "Start Task: Kosha Invoice",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [2880, 300]
    },
    {
      "parameters": {
        "ms": 1500
      },
      "id": "kosha-dummy-work",
      "name": "Kosha: Dummy Invoice Generation",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [3100, 300]
    },
    {
      "parameters": {
        "url": "={{ $env.REXERA_API_URL }}/api/rest/tasks/by-node/kosha-invoice/complete",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.REXERA_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "workflow_id",
              "value": "={{ $('Test Payoff Request Trigger').item.json.workflow_id }}"
            },
            {
              "name": "result",
              "value": "{\"invoice_id\": \"INV-TEST-001\", \"total_amount\": 245095.50, \"invoice_url\": \"https://test.com/invoice/INV-TEST-001\", \"status\": \"generated\"}"
            }
          ]
        }
      },
      "id": "complete-kosha-task",
      "name": "Complete Task: Kosha Invoice",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [3320, 300]
    },
    {
      "parameters": {
        "url": "={{ $env.REXERA_API_URL }}/api/rest/tasks/by-node/ria-update/start",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.REXERA_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "workflow_id",
              "value": "={{ $('Test Payoff Request Trigger').item.json.workflow_id }}"
            }
          ]
        }
      },
      "id": "start-ria-task",
      "name": "Start Task: Ria Update",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [3540, 300]
    },
    {
      "parameters": {
        "ms": 1000
      },
      "id": "ria-dummy-work",
      "name": "Ria: Dummy CRM Update",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [3760, 300]
    },
    {
      "parameters": {
        "url": "={{ $env.REXERA_API_URL }}/api/rest/tasks/by-node/ria-update/complete",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.REXERA_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "workflow_id",
              "value": "={{ $('Test Payoff Request Trigger').item.json.workflow_id }}"
            },
            {
              "name": "result",
              "value": "{\"crm_record_id\": \"CRM-TEST-123\", \"updated_fields\": [\"payoff_amount\", \"invoice_status\"], \"status\": \"updated\"}"
            }
          ]
        }
      },
      "id": "complete-ria-task",
      "name": "Complete Task: Ria Update",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [3980, 300]
    },
    {
      "parameters": {
        "url": "={{ $env.REXERA_API_URL }}/api/rest/tasks/by-node/mia-notify/start",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.REXERA_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "workflow_id",
              "value": "={{ $('Test Payoff Request Trigger').item.json.workflow_id }}"
            }
          ]
        }
      },
      "id": "start-mia-task",
      "name": "Start Task: Mia Notify",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [4200, 300]
    },
    {
      "parameters": {
        "ms": 1000
      },
      "id": "mia-dummy-work",
      "name": "Mia: Dummy Client Notification",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [4420, 300]
    },
    {
      "parameters": {
        "url": "={{ $env.REXERA_API_URL }}/api/rest/tasks/by-node/mia-notify/complete",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.REXERA_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "workflow_id",
              "value": "={{ $('Test Payoff Request Trigger').item.json.workflow_id }}"
            },
            {
              "name": "result",
              "value": "{\"notification_sent\": true, \"client_email\": \"client@test.com\", \"notification_type\": \"payoff_complete\", \"status\": \"delivered\"}"
            }
          ]
        }
      },
      "id": "complete-mia-task",
      "name": "Complete Task: Mia Notify",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [4640, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"status\": \"success\", \"workflow_completed\": true, \"message\": \"Test Payoff Request workflow completed successfully\", \"workflow_id\": \"={{ $('Test Payoff Request Trigger').item.json.workflow_id }}\", \"execution_time\": \"~15 seconds\"}"
      },
      "id": "workflow-response",
      "name": "Workflow Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [4860, 300]
    }
  ],
  "connections": {
    "Test Payoff Request Trigger": {
      "main": [
        [
          {
            "node": "Create All Tasks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create All Tasks": {
      "main": [
        [
          {
            "node": "Start Task: Nina Research",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start Task: Nina Research": {
      "main": [
        [
          {
            "node": "Nina: Dummy Research Work",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Nina: Dummy Research Work": {
      "main": [
        [
          {
            "node": "Complete Task: Nina Research",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Complete Task: Nina Research": {
      "main": [
        [
          {
            "node": "Start Task: Communication Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start Task: Communication Switch": {
      "main": [
        [
          {
            "node": "Dummy: Email Communication",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dummy: Email Communication": {
      "main": [
        [
          {
            "node": "Complete Task: Communication Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Complete Task: Communication Switch": {
      "main": [
        [
          {
            "node": "Wait for Response Simulation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait for Response Simulation": {
      "main": [
        [
          {
            "node": "Start Task: Iris Extract",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start Task: Iris Extract": {
      "main": [
        [
          {
            "node": "Iris: Dummy Data Extraction",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Iris: Dummy Data Extraction": {
      "main": [
        [
          {
            "node": "Complete Task: Iris Extract",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Complete Task: Iris Extract": {
      "main": [
        [
          {
            "node": "Start Task: Kosha Invoice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start Task: Kosha Invoice": {
      "main": [
        [
          {
            "node": "Kosha: Dummy Invoice Generation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Kosha: Dummy Invoice Generation": {
      "main": [
        [
          {
            "node": "Complete Task: Kosha Invoice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Complete Task: Kosha Invoice": {
      "main": [
        [
          {
            "node": "Start Task: Ria Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start Task: Ria Update": {
      "main": [
        [
          {
            "node": "Ria: Dummy CRM Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ria: Dummy CRM Update": {
      "main": [
        [
          {
            "node": "Complete Task: Ria Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Complete Task: Ria Update": {
      "main": [
        [
          {
            "node": "Start Task: Mia Notify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start Task: Mia Notify": {
      "main": [
        [
          {
            "node": "Mia: Dummy Client Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mia: Dummy Client Notification": {
      "main": [
        [
          {
            "node": "Complete Task: Mia Notify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Complete Task: Mia Notify": {
      "main": [
        [
          {
            "node": "Workflow Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1.0.0",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "id": "test-payoff-request",
  "tags": [
    {
      "createdAt": "2025-01-07T20:00:00.000Z",
      "updatedAt": "2025-01-07T20:00:00.000Z",
      "id": "test",
      "name": "test"
    },
    {
      "createdAt": "2025-01-07T20:00:00.000Z",
      "updatedAt": "2025-01-07T20:00:00.000Z",
      "id": "payoff",
      "name": "payoff"
    }
  ]
}